@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100svh;
  max-width: 100svw;
  background-image: url(/src/assets/back-image.webp);
  background-size: cover;
}
