@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100svh;
  max-width: 100svw;
  background-image: url(../public/assets/back-image.webp);
  background-size: cover;
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-style: normal;
}
